{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>


    <p><b>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</b></p>
    <p>Tidigare har jag arbetat mest med JavaScript, både frontend och backend, men inte helt enligt OOP struktur, vilket ska bli väldigt spännande att sätta sig in i och förhoppningsvis applicera i framtiden.</p>

    <p><b>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</b></p>
    <p>När man talar om klasser och objekt så är det första att klasser och objekt används sammanflätat båda som del av objektorienterad programmering, klasserna som är grunden används som mallar eller ritningar för dina framtida objekt, du kan se klasser som en model eller en enklare tolkning av världen, t.ex. en bil eller person, du kan skapa en klass för exempelvis en person och i den specificerar du alla egenskaper du kan tänkas använda för dina framtida person objekt som används i ditt program, objekten är det som skapas när du kör programmet, och de använder klasserna för att kunna skapa flera objekt, man brukar säga att man skapar en instans av en klass som är ett objekt.</p>

    <p><b>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</b></p>
    <p>Den är fortfarande lite komplex, men jag uppskattar att det kommer kännas rimligare inom kort, jag gillar dock MVC strukturen, tanken att hålla allt separat är väldigt rimlig.</p>

    <p><b>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</b></p>
    <p>Jag är lite mer intresserad att läsa mer om PaaS biten då jag hört en del om molnbaserade lösningar tidigare som gått under namnet iPaaS, men mer värdefulla i det här fallet har varit grunderna, jag skulle gärna också vilja sätta mig in i TDD framöver, hört att det är kontroversiellt, men vill skapa min egna uppfattning om det.</p>

    <p><b>Vilken är din TIL för detta kmom?</b></p>
    <p>För detta tillfälle är min TIL gällande strukturen att separera kod för att enklare kunna arbeta med den framöver.</p>

{% endblock %}
