{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>API</h1>
    <h2>Following routes are available:</h2>
    <p>GET /api/quote</p>
    <p>Get a random quote for the day</p>
{% endblock %}
