{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
      <p>Hi!</p>
      <p>
Mitt namn är Valério Wallin. Född och delvis uppväxt i Göteborg, men mesta av mitt liv har jag spenderat i Grythyttan, ca 1 mil ifrån Loka Brunn som gett oss det fina Loka vattnet varav min favorit, Loka Citron.

      </p>
      <p>
Min karriärresa började med gräsklippning, vilket faktiskt var ganska mysigt. Sen dess har jag jobbat med olika supportroller och är nu inne på teknisk support.

      </p>
      <p>
Teknik har alltid fascinerat mig, speciellt datorer och konsoler. När jag var liten satte min pappa en skärm bakom ett hål i väggen för att skapa en illusion av ett "fönster till cyberrymden." Det var magiskt!

      </p>
      <p>
Förutom webbprogrammering är jag riktigt inne på matlagning. Jag älskar att testa nya recept eller återskapa något gott jag ätit tidigare.
      </p>
    <a href="{{ asset('img/me2.jpg') }}">
      <img src="{{ asset('img/me2.jpg') }}" alt="">
    </a>
{% endblock %}
